<div class="container">
    <div class="d-flex justify-content-between">
        <div>
            <a href="/#/product/post-product" class="btn btn-success text-white btn-add">Add New +</a>
            <button class="btn btn-info ml-3 text-white btn-add" (click)="reset()">Reset</button>
        </div>
        <div id="search-box">
            <input type="text" id="search-box__input" name="nameSearch" (change)="changeInput($event)" [value]="valueInput"
                placeholder="Search..">
            <button id="search-box__btn" (click)="submitSearch()">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
    </div>
    <h3 class="text-capitalize my-5">Product management</h3>
    <table class="table">
        <thead>
            <tr>
                <th>CodeId</th>
                <th>Name</th>
                <th>Price</th>
                <th>Sale Price</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data | paginate: {itemsPerPage: 5, currentPage: p}">
                <td class="pt-3">{{item.id}}</td>
                <td class="pt-3">{{item.name}}</td>
                <td class="pt-3">{{item.price}}</td>
                <td class="pt-3">{{item.sale_price}}</td>
                <td><img src= {{item.image}} alt="" width="45px" height="45px"></td>
                <td class="chinh">
                    <a href="javascript:void();" class=" btn btn-success" (click)="onEditProduct(item.id)">Sửa</a>
                    <a href="javascript:void();" class=" btn btn-dark" (click)="onDelete(item.id)">Xóa</a>
                </td>
            </tr>
        </tbody>    
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>
</div>