<div class="container">
    <div class="d-flex justify-content-between">
        <div>
            <a href="/#/admin/post-admin" class="btn btn-success text-white btn-add">Add New +</a>
            <button class="btn btn-info ml-3 text-white btn-add" (click)="reset()">Reset</button>
        </div>
        <form [formGroup]="adminFormSearch" (ngSubmit)="submitSearch()" action="">
            <div id="search-box">
              <input type="text" id="search-box__input" formControlName="name" placeholder="Search..">
              <button type="submit" id="search-box__btn">
               <i class="fa fa-search"></i>
              </button>
            </div>
        </form>
    </div>
    <h3 class="my-5">Admin management</h3>
    <table class="table">
        <thead>
            <tr>
                <th>CodeId</th>
                <th>Name</th>
                <th>Email</th>
                <!-- <th>Password</th> -->
                <!-- <th>Role</th> -->
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data | paginate: {itemsPerPage: 5, currentPage: p}">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>{{item.email}}</td>
                <!-- <td>{{item.password}}</td> -->
                <!-- <td>{{item.role}}</td> -->
                <td class="chinh">
                    <a href="javascript:void();" class=" btn btn-success" (click)="onEdit(item.id)"><i
                            class="cil-pencil"></i>Sửa</a>
                    <a href="javascript:void();" class=" btn btn-dark" (click)="onDelete(item.id)"><i
                            class="cil-trash"></i>Xóa</a>
                </td>
            </tr>
        </tbody>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>
</div>
